@font-face {
    font-family: 'minecraftfont';
    src: url('fonts.fonts/Minecraftia-Regular.ttf');
}

body {
    font-family: 'minecraftfont', sans-serif;

}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10px ;
    background-color: rgb(224, 224, 224);
}

.loginpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: rgb(145, 145, 145);
    border-radius: 5px;
}

#logintxt{
    color: white;
    font-weight: 500;
    font-size: 1.7em;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 40px;
}

#usernametxt{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 5px;
}
#usernameinpt{
    width: 250px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#emailtxt{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 5px;
}

#emailinpt{
    width: 250px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#passwordtxt{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 5px;
}

#passwordinpt{
    width: 250px;
    height: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}


#rules-checkbox-txt{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 5px;
    
}

.checkboxinpt{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 3px;
    
}



#loginbtn{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.6em;
    background-color: rgb(38, 170, 12);
    padding: 10px 100px;
    border-radius: 5px;
}

#loginbtn:hover{
    font-size: 1.7em;
    background-color: rgb(29, 131, 8);
    transition: 0.2s;
}
