@font-face {
    font-family: 'minecraftfont';
    src: url('fonts.fonts/Minecraftia-Regular.ttf');
}

body {
    font-family: 'minecraftfont', sans-serif;

}

header {
    background-color: #0d1f07;
    background-image: linear-gradient(rgb(0,0,0,0.1)), url('imges/bricks2d.jpeg');
    background-size: 100px;
    background-repeat: repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 100px;
    width: 100%;
    height: 25px;
    
}

.logo{
    text-decoration: none;
    color: rgb(49, 211, 16);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3em;
    text-shadow: 3px 3px 4px black;
}

.accountbtn{
    margin-right: 150px;
    color: white;
    font-weight: 300;
    background-color:rgb(44, 190, 15) ;
    text-decoration: none;
    text-shadow: 2px 2px 4px gray;
    padding: 6px 20px;
    border-radius: 4px;
}

.accountbtn:hover{
    background-color:rgb(34, 146, 11) ;
    font-size: 1.2em;
    transition: 0.100s;
}

.main {
    background-image: linear-gradient(rgb(0,0,0,0.4)) ,url(imges/dirt.jpg);
    background-size: 100px;
    background-repeat: repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mainh2 {
    color: white;
    font-weight: 400;
    font-size: 1.9em;
    text-shadow: 4px 4px 4px black;
    padding: 30px ;
}

.joinbtn {
    text-decoration: none;
    color: white;
    background-color: rgb(44, 190, 15);
    font-weight: 400;
    font-size: 1.4em;
    padding: 6px 100px;
    border-radius: 4px;
    text-shadow: 2px 2px 4px gray;
}

.joinbtn:hover{
    background-color: rgb(37, 156, 13);
    font-size: 1.6em;
    transition: 0.3s;
}

.discr{
    color:white;
    font-weight: 300;
    padding-top: 25px;
    text-shadow: 2px 2px 4px black;
    padding: 2px 40px;
}

.tail{
    background-color: rgb(12, 12, 12);
    display: flex;
    
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    height: 100px;
    flex-direction: column;
}

.reportbtn{
    padding: 10px 1px;
    color: blue;
}